*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
.idea
*.iml
=======
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting
*.iml
atlassian-ide-plugin.xml
